<!DOCTYPE html>
<!-- 使用thymeleaf，配置相应的 -->
<html xmlns:th="http://www.thymeleaf.org">  <!-- th!!! 命名空间使用 -->
<head>
<meta charset="UTF-8"/><!--<meta charset="UTF-8" />  thymeleaf模板引擎默认是Template modes:HTML5解析的，所以解析比较严格。  -->
<title>商品详情</title>
	<!-- thymeleaf引入静态资源的方式，@加大括弧    "/" 代表static路径-->
	<!-- jquery -->
	<!-- <script type="text/javascript" th:src="@{/js/jequery.min.js}"></script> -->
	<script type="text/javascript" th:src="@{/jquery-validation/lib/jquery-1.11.1.js}"></script>
	<!-- bootstrap -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
	 -->
	<link type="text/css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>


	<!--<div class="panel panel-default">-->
		<!--<div class="panel-heading">秒杀商品列表</div>-->
		<!--<table class="table" id="goodslist">-->
		<!--<tr><td>商品名称</td><td>商品图片</td><td>商品原价</td><td>秒杀价</td><td>库存数量</td><td>详情</td></tr>-->
		<!--<tr th:each="goods,goodsStat:${goodsList}">-->
			<!--<td th:text="${goods.goodsName}"></td>-->
			<!--<td><img th:src="@{${goods.goodsImg}}" width="80" height="60"></img></td>-->
			<!--<td th:text="${goods.goodsPrice}"></td>-->
			<!--<td th:text="${goods.miaoshaPrice}"></td>-->
			<!--<td th:text="${goods.stockCount}"></td>-->
			<!--<td><a th:href="'/goods/to_detail/'+${goods.id}">详情</a></td>-->
		<!--</tr>-->
		<!--</table>-->
	<!--</div>-->
</body>
</html>